html, body, svg {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

header {
	position: absolute;
	right: 0;
	top: 0;
}

a.button {
	background-color: #EEE;
	display: inline-block;
	text-decoration: none;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.node {}

.node:hover {
	cursor: pointer;
}

.node-industry {
	font-weight: bold;
}

.node-flow {
	font-style: italic;
}

.display-title {
	font-weight: bold;
}
